body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h1{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}